    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">My Application</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('layout') }}">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('submit_quiz') }}">New Question</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('view_quiz') }}">View questions</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('take_quiz') }}">Take Quiz </a>
        </div>
    </div>